<!DOCTYPE html>
<html>
<head>
  <title>bby twt</title>
  <h1> walcom 2 bby twt <img src="http://st.depositphotos.com/1037178/1798/v/110/depositphotos_17986551-Chicken-Bird-Vector.jpg"></h1>
  
        <div class="header-container"><p><center> wow<br> such micropost<br>much user</p></center>
        <nav><ul><li><a href="wat">make post pls</a></li></ul></nav>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <div class="header-container">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<center><%= yield %></div></center>

</body>
</html>
